# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific folders
.vs/
.vscode/

# Build results
bin/
obj/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer files
*.vsscc
